.main-content {
    max-width: 55em;
    padding: 3rem 1.5rem;
}

.main-content li {
    list-style: none;
}

.block-highlight {
    border: solid #f7f7f9;
    border-width: .2rem;
    margin: 1rem 0 0 0;
    padding: 1.5rem;
}

.button-bar {
    padding-top: 1rem;
    text-align: center;
}

button {
    cursor: pointer;
}
